// Colors

$white:         #ffffff;
$black:         #000000;
$medium-grey:   #656b70;
$light-grey:    #b1b7bd;
$near-white:    #f5f7fa;

$primary:       #1eb0a1;
$secondary:     #114880;
$accent:        #9a0e21;


// Breakpoints

$largest:       75em;
$larger:        61.5625em;
$large:         56.875em;
$medium:        48.9375em;
$small:         44.375em;
